* { box-sizing: border-box }

html {
  position: relative;
  min-height: 100%;
}

/* Add a gray background color with some padding */
body {
  font-family: open-sans, arial, tahoma, sans-serif;
  margin-bottom: 260px;
  padding: 0;
  background: #fff;
}

nav.navbar {
  background: #2e4e4e;
}

.pg-details .card {
  margin: 0 1rem;
  padding: 0;
}

.review-emoji {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.dr-wrap .form-check {
  margin-bottom: 1rem;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #e3e3e3;
}
.footer .logo-footer {
  width: 40%;
}
.footer nav.navbar {
  background: unset;
}
.footer-social p a {
  margin: 0 .3rem;
}
