<!-- header -->
{% include "djangoapp/common/header.html" %}

<body>
    <!-- Navigation bar -->
    {% include "djangoapp/common/nav.html" %}

    <main class="py-3">
        <div class="container">
            <h1>About Us</h1>
            <hr>
            
            <p>
                Welcome to Best Cars dealership, home to the best cars in North America.<br/>
                We sell domestic and imported cars at reasonable prices.
            </p>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </p>
            <p>
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
            </p>
        </div>
    </main>
    
    <!-- footer -->
    {% include "djangoapp/common/footer.html" %}

    <!-- Javascript -->
    {% include "djangoapp/common/script.html" %}
</body>
</html>
