<!-- header -->
{% include "djangoapp/common/header.html" with page='index' %}

<body>
    <!-- Navigation bar -->
    {% include "djangoapp/common/nav.html" %}
    
    <main class="py-3 container">
        <div class="">
            <h1>Welcome to Best Cars dealership</h1>            
            <p>
                We are home to the best cars in North America.
            </p>
        </div>
    
        <!--Add a dealer table here -->
         <table class="table" id="table" data-filter-control="true">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="full_name">Dealer Name</th>
                    <th data-field="city">City</th>
                    <th data-field="address">Address</th>
                    <th data-field="zip">Zip</th>
                    <th data-field="st" data-filter-control="select">State</th>
                </tr>
            </thead>
            <tbody>
                {% for dealer in dealership_list %}
                    <tr>
                        <td>{{dealer.id}}</td>
                        <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
                        <td>{{dealer.city}}</td>
                        <td>{{dealer.address}}</td>
                        <td>{{dealer.zip}}</td>
                        <td>{{dealer.st}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    
    <!-- footer -->
    {% include "djangoapp/common/footer.html" %}

    <!-- Javascript -->
    {% include "djangoapp/common/script.html" with page='index' %}
</body>
</html>
