<!-- header -->
{% include "djangoapp/common/header.html" %}

<body>

    <!-- Navigation bar -->
    {% include "djangoapp/common/nav.html" %}

    <main class="py-3">
        <div class="container">
            <h1>Registration</h1>
            <hr>
            <!-- Registration form -->
            <form action="{% url 'djangoapp:registration' %}" method="post">
                {% csrf_token %}        
                <div class="form-group">
                    <label for="username"><b>User Name</b></label>
                    <input type="text" class="form-control" name="username" required> 
                </div>       
                <div class="form-group">
                    <label for="firstname"><b>First Name</b></label>
                    <input type="text" class="form-control" name="firstname" required> 
                </div>       
                <div class="form-group">
                    <label for="lastname"><b>Last Name</b></label>
                    <input type="text" class="form-control" name="lastname" required>  
                </div>      
                <div class="form-group">
                    <label for="psw"><b>Password</b></label>
                    <input type="password" class="form-control" name="psw" required>
                </div>
                {% if message %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
                {% endif %}
                <button class="btn btn-primary" type="submit">Sign up</button>
            </form>
        </div>
    </main>

    <!-- footer -->
    {% include "djangoapp/common/footer.html" %}
        
    <!-- Javascript -->
    {% include "djangoapp/common/script.html" %}
</body>
